.team-div{
    justify-content: center;;
    margin: 0% 5% 2% 5%;
    padding: 3%;
  }
  
  .team-div h1{
    text-align: center;
  }
  
  .team{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
  }
  
  .team-info{
    margin: 5px;
    width: 220px;
    background-color: rgb(245, 243, 243);
  }
  
  .team-info img{
    height: 150px;
    width: 200px;
    display: block;
    margin:10px auto 10px auto;
  }
  
  .team-info h4,.team-info h6{
    text-align: center;
  }
  