.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactsContent{
    margin-top: 2vw;
    margin-left: 6vw;
    margin-right: 4vw;
    margin-bottom: 3vw;
    width: 100vw;
    font-size: 1vw;
}

.contactIcons{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vw;
    align-items: center;
    justify-content: space-evenly;
}

.contactIcon{
    height: 10vw;
} 

.icon{
    font-size: 4vw;
    color: black;
    border-style: double;
    border-radius: 50%;
    border-color: #D9D9D9;
    background-color: white;
    border-width: 0.3vw;
}