.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.galleryCarousel{
    margin: 6vw;
    margin-bottom: 2vw;
    width: 100vw;
    align-items: center;
}

.galleryImage{
    width: 100vw;
    height: 50vw;
}

.submitButton{
    margin-left: 6vw;
    font-size: 1vw;
}