@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.milestones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.milestonesHeader{
    margin-left: 6vw;
    margin-top: 5vw;
    margin-right: 4vw;
    font-family: 'Lora', serif;
    width: 100vw;
    padding-left: 3.5vw;
    border-bottom-width:0.1vw;
    border-bottom-style:solid;
    border-bottom-color:black;
    font-size: 2.5vw;
}

.milestoneList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6vw;
    margin-left: 6vw;
    margin-right: 4vw;
    margin-bottom: 3vw;
    font-size: 1.5vw;
    width: 100vw;
}

.milestone{
    width: 20vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rank{
    margin-left: 6vw;
    width: 8vw;
    height: 8vw;
    font-size: 4vw;
    font-weight: bolder;
    border-width: 0.4vw;
    border-style: double;
    border-radius: 50%;
    border-color: #D9D9D9;
}

.name{
    margin-top: 1.5vw;
    font-weight: bold;
    font-size: 1.5vw;
}

.desc{
    margin-top: 1vw;
    font-size: 1vw;
}

.milestonesButton{
    margin-left: 6vw;
    font-size: 1vw;
}