/*****************************************Navbar***********************************/

nav{
    z-index: 2;
    background-color: white;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
  }

#navbar{
    width: 90% !important;
}  


  /**************************************Nav links***********************/
   
  nav a.nav-link{ 
    letter-spacing: 0.0375rem;
    cursor: pointer;
  }
  
  nav ul li{
    text-transform: uppercase;
  }
  
  .navbar-nav > li > a {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: black !important;
    border-bottom: 0.1875rem solid rgba(255,255,255,0);
  }
  
  .navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important;
    height: 4rem !important;
  }
  
  @media(max-width: 768px){
    .navbar-brand{
      width: 7rem;
    }
  }
  
  .navbar-nav > li >a.active, .navbar-nav > li > a:focus{
    border-bottom: 0.1875rem solid #000000;
  }
  
  .navbar-nav > li > a:hover{
    border-bottom: 0.1875rem solid #E07785;
  }