@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teamList{
    display: flex;
    flex-direction: row;
    margin: 6vw;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.faculty{
    position: relative;
    text-align: center;
}

.facultyImage{
    width: 20vw;
    height: 17vw;
}

.facultyName{
    /* width: fit-content;
    position: absolute;
    bottom: 0.5vw;
    left: 1vw;
    color: white;
    font-weight: bolder;
    font-size: 1vw; */
}

.submitButton{
    margin-left: 6vw;
    font-size: 1vw;
} 