.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subHeader{
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 100vw;
    text-align: center;
    font-size: 2vw;
    font-weight: bolder;
} 

.facultyList{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.faculty{
    display: flex;
    flex-direction: column;
}

.facultyName{
    margin-top: 1vw;
    text-align: center;
    font-size: 1.3vw;
}

.facultyImage{
    width: 20vw;
    height: 17vw;
}
