@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.workImages{
    border: solid green;
    background-color: white;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    margin: 6vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.workImage{
    position: relative;
    width: 23vw;
    height: 17vw;
    border-radius: 10%;
}

.launch{
    width: 23vw;
    height: 17vw;
}
.plane{
    width: 23vw;
    height: 17vw;
}
.drone{
    width: 23vw;
    height: 17vw;
}

.arrow{
    position: absolute;
    color: black;
    font-size: 2vw;
    background-color: white;
    border-radius: 10%;
    bottom: 1vw;
    left: 1vw;
}

.workContent{
    margin-left: 6vw;
    margin-right: 4vw;
    margin-bottom: 3vw;
    width: 100vw;
    font-size: 1vw;
}

.wc{
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1vw;
}

.rocket{
    margin-bottom: 0;
}

.submitButton{
    margin-left: 6vw;
    font-size: 1vw;
} 